/* Reset some default styles */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@keyframes dropdownAnim {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 155px;
  }
}
@keyframes WhoContentAnim {
  0% {
    max-height: 0px;
    transform: rotateZ(12deg);
    border-radius: 50%;
  }
  100% {
    max-height: 100%;
  }
}
@keyframes nameTextAnim {
  0% {
    top: 50%;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes modalAnim {
  0% {
    opacity: 0;
    height: 0%;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
@keyframes burgerMenuAnimOpen {
  0% {
    opacity: 0.5;
    height: 0%;
  }

  100% {
    opacity: 1;
    height: 95vh;
  }
}
@keyframes dropDownMenuAnim {
  0% {
    opacity: 0.5;
    height: 0%;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
@keyframes closeModalAnim {
  0% {
    opacity: 1;
    height: 100%;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

@media screen and (min-width: 768px) {
  .screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-projects {
    width: 30%;
  }
  .mobile-header {
    display: none;
  }
  .swiper {
    width: 100%;
  }
  .list-of-skills {
    flex-direction: row;
    margin-top: 45px;
  }
  .list-of-skills li {
    width: 20%;
  }
  .list-of-skills li img {
    width: 45%;
  }
  .about-information {
    margin: 80px 0 100px;
  }
  .technology-description {
    font-size: 1.5vw;
  }
  .technology-card {
    margin-bottom: 20px;
  }

  .skills-content h1 {
    text-align: center;
    font-size: 2.2vw;
  }
  .workig-experience h1 {
    text-align: center;
    font-size: 2.2vw;
  }
  .who-i-am-content h1 {
    text-align: center;
    font-size: 2.2vw;
  }
  .swiper {
    min-height: 65vh;
  }
  .modal-button {
    margin-right: 10%;

    width: 60%;
  }
  .go-to-button {
    width: 60%;
  }
  .who-i-am-wrapper p {
    color: #16d9e3;
    line-height: 175%;
    font-size: 1.5vw;
    text-align: center;
    text-wrap: balance;
  }
  .who-i-am-wrapper h1 {
    font-size: 2.5vw;
  }
  #close {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .swiper-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .modal-button {
    margin-bottom: 10%;
    width: 90%;
  }
  .go-to-button {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .screen {
    flex-direction: column;
    align-items: center;
  }
  footer p {
    font-size: 3.7vw;
  }
  .about-information {
    margin: 0px 0 50px;
  }
  .header-desktop {
    display: none;
  }
  .about-projects {
    width: 100%;
  }

  .swiper {
    width: 100%;
    min-height: 72vh;
    height: 100vh;
  }
  .dropdown {
    left: -205%;
  }
  .projectimg {
    width: 55%;
  }

  .list-of-skills {
    flex-direction: column;
    margin-top: 11%;
  }
  .list-of-skills li {
    width: 80%;
  }
  .list-of-skills li img {
    width: 50px;
  }
  .about-projects {
    width: 90%;
  }
  .technology-logo {
    display: flex;
    margin-right: 13%;
  }
  .technology-card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
  .technology-description {
    font-size: 3.5vw;
  }
  .skills-content h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 4.5vw;
  }
  .workig-experience h1 {
    margin-top: 15px;
    text-align: center;
    font-size: 4.5vw;
    margin-bottom: 10%;
  }
  .who-i-am-content h1 {
    text-align: center;
    font-size: 4.5vw;
    margin-bottom: 10%;
  }
  .who-i-am-wrapper p {
    color: #16d9e3;
    line-height: 175%;
    font-size: 4.5vw;
  }
  #close {
    width: 60%;
  }
  .who-i-am-wrapper h1 {
    font-size: 6vw;
  }
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: url(imgs/Simple\ Shinyblack.svg) round;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Header styles */
header {
  background-color: rgb(53, 48, 48, 0.95);
  border-radius: 20px;
  padding: 10px 0;
  width: 96%;
  margin: 10px auto;
  box-shadow: #2b2b2b96 8px 8px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li {
  position: relative;
}

nav ul li:hover ul {
  display: block;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Main content styles */
main {
  position: relative;
  margin: 0 auto;
  width: calc(90rem, 90%);
  column-gap: 3rem;
  padding-block: min(20vh 3rem);
  height: 100%;
  /* Center content within the viewport height */
}
.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}
.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;

  opacity: 0;
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  color: rgb(53, 48, 48);
}
.descriptionhr {
  display: block;
  background: #c05454;
  height: 0.25rem;
  width: 94%;
  border: none;
  margin: 1.125rem auto 1.1875rem;
  border-radius: 5px;
}
.projecthr {
  display: block;
  background: #c05454c9;
  height: 0.3rem;
  width: 100%;
  border: none;
  margin: 1.125rem auto 1.1875rem;
  border-radius: 5px;
}
main > div p {
  line-height: 1.6;
  font-size: 19px;
  color: #fff;
}
main a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  background: transparent;
  transition: 0.3s ease-in-out;
}

.about-projects {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about-projects a {
  border-radius: 10px;
  border: 0;
}
.swiper {
  min-height: fit-content;
  border-radius: 20px;
  background-color: transparent;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dbdbdb;
  border-radius: 20px;
}
.about-project-container {
  border-radius: 15px;
  width: 85%;
  height: 88%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.img-container {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 95%;
  height: 84%;
  overflow: hidden;
}
.img-container iframe {
  width: 100%;
  height: 100%;
}

.swiper-slide h1 {
  color: #424040;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4;
  text-transform: uppercase;
  height: 134px;
  margin-bottom: 20px;
}

.go-to-button {
  font-size: 19px;
  font-weight: bolder;
  border: 0;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(53, 48, 48);
  color: rgb(215, 215, 215);
}
.swiper-button a {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.about-project-text {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 500;
}
.swiper-button img {
  width: 25px;
}
.swiper-slide p {
  color: #000000;
  font-family: 'Roboto' sans-serif;
  height: 55%;
}
.swiper-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.screen {
  display: none;
}
.active-screen {
  display: block;
  display: flex;
  margin: 0 10%;
}

.featured-post {
  display: flex;
  align-items: center;
  box-shadow: rgba(85, 83, 83, 0.226) 10px 10px;
  padding: 20px;
  margin: 40px 0px;
  width: fit-content;
  height: 500px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.11);
  border-radius: 30px;
}
#featured-post {
  margin-top: 180px;
}
.featured-post img {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
}

.post-content {
  flex: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.modal-button {
  font-size: 19px;
  font-weight: bolder;
  border: 0;

  height: 40px;
  border-radius: 10px;
  background-color: rgb(53, 48, 48);
  color: rgb(215, 215, 215);
}
.post-button :hover {
  cursor: pointer;
  background-color: #494949da;
  color: #afbb8e;
}
.post-button {
  display: flex;
  margin: 25px 90px;
}

.dropdown {
  border-radius: 10px;
  padding: 0 40px;
  background-color: rgb(53, 48, 48, 0.8);
  animation: dropdownAnim 200ms;
  z-index: 2;
  left: -132%;
  top: 20px;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  min-width: max-content;
  margin: 20px 0;
  font-size: 20px;
}
.dropdown-item-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 18px;
}
.dropdown img {
  width: 25px;
  padding-right: 13px;
}
.about {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: rgb(53, 48, 48, 0.95);
  padding: 10px 0;
  width: 98%;
  text-align: center;
  bottom: 0;

  border-radius: 10px;
  margin: 7px 1%;
  box-shadow: #2b2b2b96 5px 4px;
}
footer p {
  color: #d1d1d1;
}
.about-content {
  margin: auto;
  max-width: max-content;
  color: #d1d1d1;
}
.about-information {
  display: flex;
  flex-direction: column;
}
.about-information div {
  display: flex;
  justify-content: center;
}
.about-information div div {
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.profilephoto {
  width: 70%;
  height: min-content;
  border-radius: 15px;
  opacity: 0.6;
}
.about-information-content {
  position: relative;
  text-align: center;
}
.about-information-text {
  position: absolute;
  top: 5%;
  right: 2%;
  color: #2e2e2e;
  width: 30%;
}
.container {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  box-shadow: rgba(85, 83, 83, 0.226) 10px 10px;
  padding: 20px;
  margin: 40px 0px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.11);
  border-radius: 13px;
  min-height: 300px;
  margin-bottom: 8%;
}
.skills-content {
  width: 85%;
  margin: 0 auto;
  font-size: 1.5vw;
}

.list-of-skills {
  padding: 0;
  display: flex;
}
.list-of-skills li {
  margin-right: 5%;
  list-style-type: none;
}

.main-wrapper {
  min-height: 100vh;
}
#main-screen {
  min-height: 70vh;
  margin: 10%;
}
.intro-text {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: monospace, sans-serif;
  font-style: oblique;
}
.name {
  font-size: 15vw;
  width: 70%;
  position: absolute;
  z-index: -1;
  animation: nameTextAnim 1.2s cubic-bezier(0.57, -0.01, 0, 0.98);
  margin-top: 10%;
}
#about-block-title {
  color: #d1d1d1;
}
.project-img {
  border-radius: 10px;
}
/* Стили модальных окон */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  animation: modalAnim 0.6s;
}
.modal h1 {
  color: #424040;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  height: 85%;
}

/* Скрытие модальных окон */
.close-modal {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  height: 40px;
  font-size: 20px;
}
.modal-anim {
  animation: closeModalAnim 0.4s;
}

.technology-logo {
  display: flex;
  margin-bottom: 18%;
}

.workig-experience {
  padding: 30px;
  min-height: 0;
}
.workig-experience-content {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
}

.mobile-header {
  box-shadow: none;
  background-color: transparent;
  margin: 3%;
  padding: 0;
  background-color: #2e2e2e;
  position: fixed;
  z-index: 2;
  opacity: 0.99;
  width: 45%;
  height: 95vh;
  max-width: 170px;
}
.close-menu {
  background-color: transparent;
  animation: burgerMenuAnimClose 0.5s;
}
.open-menu {
  width: 45%;
  height: 95vh;
  max-width: 170px;

  animation: burgerMenuAnimOpen 0.5s ease;
}
.burger-menu {
  width: 40%;
  margin: 5% 0 3% 2%;
}
.burger-menu-content {
  width: 100%;
}

.burger-menu-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.burger-menu-item {
  color: #fff;
  padding: 20px 0px 10px 20px;
}
.burger-menu-item a {
  text-decoration: none;
  color: #fff;
}
#dropdown-list {
  display: flex;
  flex-direction: column;
}
.contact-me {
  display: flex;
  align-items: center;
}
.burger-menu-item ul li div img {
  width: 15%;
  margin-right: 10px;
}
.burger-menu-item ul {
  list-style: none;
  padding: 0;
}
.burger-menu-item ul li {
  margin-bottom: 25px;
}
.burger-menu-item ul li div {
  display: flex;
  align-items: center;
}

.working-experience-list {
  list-style: none;
  padding: 15px;
}
.who-i-am-content {
  width: 90%;
  margin: 0 auto;
  height: fit-content;
}
.who-i-am {
  padding: 30px;
  min-height: 0;
}
#who-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  border-radius: 10px;
  animation: WhoContentAnim 0.55s;
}

.who-i-am-wrapper h1 {
  color: #317eb6;
  margin-bottom: 6.3%;
}
.who-i-am-wrapper {
  width: 90%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#closeWhoIam {
  display: flex;
  justify-content: center;
  width: 100%;
}
.blur {
  backdrop-filter: blur(20px);
}
#close {
  background-color: #2e2e2e9c;

  font-weight: 700;
}
#closeWhoIam :hover {
  background-color: transparent;
  color: #000000;
}

