/* Reset some default styles */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@keyframes dropdownAnim {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 155px;
  }
}
@keyframes modalAnim {
  0% {
    opacity: 0;
    height: 0%;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}
@keyframes closeModalAnim {
  0% {
    opacity: 1;
    height: 100%;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: url(imgs/Simple\ Shinyblack.svg) round;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Header styles */
header {
  background-color: rgb(53, 48, 48, 0.95);
  border-radius: 20px;
  padding: 10px 0;
  width: 96%;
  margin: 10px auto;
  box-shadow: #2b2b2b96 8px 8px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul ul {
  display: none;
  position: absolute;
}

nav ul li {
  position: relative;
}

nav ul li:hover ul {
  display: block;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Main content styles */
main {
  position: relative;
  margin: 0 auto;
  width: calc(90rem, 90%);
  column-gap: 3rem;
  padding-block: min(20vh 3rem);
  height: 100%;
  /* Center content within the viewport height */
}
.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}
.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;

  opacity: 0;
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  color: rgb(53, 48, 48);
}
.descriptionhr {
  display: block;
  background: #c05454;
  height: 0.25rem;
  width: 94%;
  border: none;
  margin: 1.125rem auto 1.1875rem;
  border-radius: 5px;
}
.projecthr {
  display: block;
  background: #c05454c9;
  height: 0.3rem;
  width: 100%;
  border: none;
  margin: 1.125rem auto 1.1875rem;
  border-radius: 5px;
}
main > div p {
  line-height: 1.6;
  font-size: 19px;
  color: #fff;
}
main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  transition: 0.3s ease-in-out;
}

.about-projects {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.about-projects a {
  border-radius: 10px;
  border: 0;
}
.swiper {
  width: 70%;
  max-height: 600px;
  height: 65vh;
  border-radius: 20px;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dbdbdb;
  border-radius: 20px;
}
.about-project-container {
  border-radius: 15px;
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.img-container {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 95%;
  height: 85%;
}
.img-container iframe {
  width: 100%;
  height: 100%;
}

.swiper-slide h1 {
  color: #424040;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4;
  text-transform: uppercase;
  height: 134px;
  margin-bottom: 20px;
}
.swiper-button {
  display: flex;
  justify-content: center;

  align-items: flex-end;
}

.swiper-button a {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  background-color: white;
}
.about-project-text {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 500;
}
.swiper-button img {
  width: 25px;
}
.swiper-slide p {
  color: #000000;
  font-family: 'Roboto' sans-serif;
  height: 55%;
}
.swiper-button-wrapper {
  display: flex;
  justify-content: center;
  width: max-content;
  width: 80%;
}

.screen {
  display: none;
}
.active-screen {
  display: block;
  display: flex;
  margin: 0 10%;
}

.featured-post {
  display: flex;
  align-items: center;
  box-shadow: rgba(85, 83, 83, 0.226) 10px 10px;
  padding: 20px;
  margin: 40px 0px;
  width: fit-content;
  height: 500px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.11);
  border-radius: 30px;
}
#featured-post {
  margin-top: 180px;
}
.featured-post img {
  width: 300px;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
}

.post-content {
  flex: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
.modal-button {
  font-size: 19px;
  font-weight: bolder;
  width: fit-content;
  border: 0;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(53, 48, 48);
  color: rgb(215, 215, 215);
}
.post-button :hover {
  cursor: pointer;
  background-color: #494949da;
  color: #afbb8e;
}
.post-button {
  display: flex;
  margin: 25px 90px;
}

.dropdown {
  border-radius: 10px;
  padding: 0 40px;
  background-color: rgb(53, 48, 48, 0.8);
  animation: dropdownAnim 200ms;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  min-width: max-content;
  margin: 20px 0;
  font-size: 20px;
}
.dropdown-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown img {
  width: 25px;
  padding-right: 13px;
}
.about {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: rgb(53, 48, 48, 0.95);
  padding: 10px 0;
  width: 98%;
  text-align: center;
  bottom: 0;
  border-radius: 10px;
  margin: 7px 1%;
  box-shadow: #2b2b2b96 5px 4px;
}
footer p {
  color: #d1d1d1;
}
.about-content {
  margin: auto;
  max-width: max-content;
  color: #d1d1d1;
}
.about-information {
  display: flex;
  flex-direction: column;
  margin: 80px 0 100px;
}
.about-information div {
  max-width: 800px;
  display: flex;
}
.about-information div div {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 25px;
}
.profilephoto {
  width: 35%;
  height: min-content;
  border-radius: 15px;
}
.container {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  box-shadow: rgba(85, 83, 83, 0.226) 10px 10px;
  padding: 20px;
  margin: 40px 0px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.11);
  border-radius: 13px;
  min-height: 300px;
}
.workig-experience {
}
.list-of-skills li {
  list-style-type: none;
}
.list-of-skills li img {
  width: 40px;
}
.main-wrapper {
  min-height: 100vh;
}
#main-screen {
  min-height: 70vh;
  margin: 10%;
}
.intro-text {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  font-family: monospace, sans-serif;
  font-style: oblique;
}
.name {
  font-size: 35px;
}
#about-block-title {
  color: #d1d1d1;
}
.project-img {
  border-radius: 10px;
}
/* Стили модальных окон */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  animation: modalAnim 0.6s;
}
.modal h1 {
  color: #424040;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4;
  text-transform: uppercase;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  height: 85%;
}

/* Скрытие модальных окон */
.close-modal {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  height: 40px;
  font-size: 20px;
}
.modal-anim {
  animation: closeModalAnim 0.4s;
}
